.create-posts-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.070);
}

.create-posts-title {
  width: 100%;
  height: 20%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.create-posts-div {
  height: 90%;
  width: 60%;
  border-radius: 1rem;
  background-color: white;
  transition: transform 450ms;
  padding: 2rem;
}

.create-posts-div-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 10%;
  width: 100%;
  margin-bottom: 1rem;
  transition: transform 450ms;
}


.create-posts-div-title:hover{
    background-color: orange;
    transform:scale(1.02);
    cursor: default;
}

.create-posts-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  height: 8%;
  width: 100%;
  color: white;
  background-color: rgb(33, 33, 33);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  transition: transform 450ms;
}

.create-posts-options:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.create-posts-div:hover {
  transform: scale(1.02);
}

.create-posts-body {
  overflow: hidden;
  overflow: scroll;
  width: 100%;
  height: 70%;
}
