.discussion-post-div{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    justify-content:center;
    align-items:center;
    margin-top: 5rem;
}

.discussion-post1-post{
 border: 1px solid rgba(0, 0, 0, 0.30);
 margin-left: 2rem;
 margin-right: 2rem;
 display:flex;
 flex-direction:column;
 width: 90%;
 min-height: max-content;
 background-color:white;
}

.discussion-picture{
position:relative;
top: .6rem;
left: .5rem;
border-radius: 100%;
}

.discussion-image-name{
display:flex;
flex-direction:row;
margin-bottom: -1rem;
background-color:rgb(38, 37, 37);
justify-content:space-between;
min-width:max-content;
}

.discussion-image-name-row{
display:flex;
flex-direction:row;
}

.the-person-name{
position:relative;
}

.rate-posts{
display:flex;
flex-direction:row;
position:relative;
justify-content:space-evenly;
height: 30px;
width: 60px;
} 

.thumbs-up{
    background-color:transparent;
    border:none;
    font-size:1rem;
    position:relative;
    color:white;
    transition: transform 600ms;
    transform:scale(1.0)
}

.thumbs-up.active{
    background-color:transparent;
    border:none;
    font-size:1rem;
    position:relative;
    color:lightblue;
    transition: transform 600ms;
    transform:scale(1.2)
}

.thumbs-down{
    background-color:transparent;
    border:none;
    color:white;
    font-size:1rem;
    position:relative;
    transition: transform 600ms;
    transform: scale(1.0)
} 

.thumbs-down.active{
    background-color:transparent;
    border:none;
    color:red;
    font-size:1rem;
    position:relative;
    transition: transform 600ms;
    transform: scale(1.2)
} 

.button-discussion{
background-color:transparent;
position: relative;
left: 6rem;
border:none;
width:4rem;
font-size: 1rem;
height:100%;
color:white;
cursor:pointer;
transition: transform 400ms;
}

.button-discussion:hover{
    transform: scale(1.2)
}

.filler-post-comment{
    width: 100%;
    position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name-date{
    position:relative;
    display:flex;
    flex-direction:column;
    height: 60px;
    left: 1rem;
    bottom: .5rem;
    color:white;
    }

.the-date{
    position:relative;
    top: .3rem;
    font-size: .2rem;
}
.the-person-name{
    position:relative;
    bottom: 1rem;
}
